{
  "extends": [
    "react-app"
  ],
  "parser": "@typescript-eslint/parser",
  "rules": {
    "@typescript-eslint/indent": [
      "warn",
      2
    ],
    "semi": [
      "warn",
      "always"
    ],
    "@typescript-eslint/no-require-imports": "error"
  },
  "plugins": ["import", "@typescript-eslint"]
}